.dropzone{
    /* placing all values on same line is called shorthand*/
    border:1px solid rgba(0,0,0,0.03);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100px;
    background-color: rgb(240, 227, 249);
}

@font-face {
    font-family: myFirstFont;
    src: url(/css/fonts/sansation_bold.ttf);
}

#dropZoneText{
    font-family: myFirstFont;
    vertical-align: middle;
    text-align: center;
    margin: 20px auto 20px auto;
}